<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/dashboard/assets/images/favicon.png">
    <title>AAI LICENSING</title>
    <!-- Custom CSS -->
    <link href="/dashboard/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dashboard/dist/css/style.min.css" rel="stylesheet">

   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    
<![endif]-->
<script src="/blockchain/web3.min.js"></script>
<script src="/blockchain/contract.js"></script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                             Airport Authority of India
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon 
                            <img src="/dashboard/assets/images/aai_logo_n.png" style="height: 30px;width: auto;" alt="homepage" class="dark-logo" />
                             Light Logo icon 
                            <img src="/dashboard/assets/images/aai_logo_n.png" style="height: 60px;width: 200px;" alt="homepage" class="light-logo" />
                             -->
                          </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <!-- <span class="logo-text">
                             dark Logo text
                             <img src="/dashboard/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                             Light Logo text   
                             <img src="/dashboard/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span> -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src=".dashboard/.dashboard/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Deleted Applications</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Applications</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Will Remain here for period of 90 days</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-7">
                     
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
   
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
 
                            <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <!-- <th class="border-top-0">Restore</th> -->
                                            <th class="border-top-0">ApplicationId</th>
                                            <th class="border-top-0">Home Minister Approval</th>
                                            <th class="border-top-0">Defense Approval</th>
                                            <th class="border-top-0">Aerodrome Manual</th>
                                            <th class="border-top-0">LandOwner Approval</th>
                                            <th class="border-top-0">A.I</th>
                                            <th class="border-top-0">D.O.A.S</th>
                                            <th class="border-top-0">D.G</th>
                                            <th class="border-top-0">License Number Allotted</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody id="applicationTable">
                                 
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                
            </div><!--extra can remove -->
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by AAI. Designed and Developed by Team-HexaTechies---SIH2020.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/dashboard/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/dashboard/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/dashboard/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/dashboard/dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/dashboard/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/dashboard/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/dashboard/dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="/dashboard/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="/dashboard/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/dashboard/dist/js/pages/dashboards/dashboard1.js"></script>


    <script>
function httpGetApplicationDetails(id,cb){
    var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", '/client/getapplicationdetails/'+id, false ); // false for synchronous request
        xmlHttp.send( null );
        cb(JSON.parse(xmlHttp.responseText));
    }
window.onload=()=>{
        var user=<%- JSON.stringify(id) %>;
        var userApplications=<%- JSON.stringify(userApplications) %>;
        var applications=document.getElementById('applicationTable');
        
        for(var i=0;i<userApplications.length;i++){
            console.log("working for"+i);
            httpGetApplicationDetails(userApplications[i],(data)=>{
                KMPcontract.methods.approvalStatus(data._id).call({from:userAccount},(err,status)=>{
                var id=data._id;
               
                var df,hm,lo,am;
                

                
                if(data.ministry_defence)
                    df="<td> Uploaded </td>";
                else
                    df="<td> Not Uploaded </td>";

                if(data.ministry_home )
                    hm="<td> Uploaded </td>";
                else
                 hm="<td> Not Uploaded </td>";
                if(data.aerodrome_manual)
                    am="<td> Uploaded </td>";
                else  
                 am= "<td> Not Uploaded </td>";
                if(data.landowner_approval)
                    lo="<td> Uploaded </td>"; 
                else
                lo="<td> Not Uploaded </td>";   
                console.log(hm,df,lo,am);
                applications.innerHTML+= ` <tr>



                            <td>
                                <div class="d-flex align-items-center">
                                    <a class="m-b-0 font-16" href="/admin/applicationdetails/`+data._id+`" id="applicationID">`+data._id+`</a>
                                </div>
                            </td>

                            `+hm+df+am+lo+` 
                            <td id="AIapproval">`+data.approval_AI+`</td>
                            <td id="DOASapproval">`+data.approval_DOAS+`</td>
                            <td id="DGapproval">
                            <label class="label label-success">`+data.approval_DG+`</label>
                            </td>
                            <td id="Licenseno">`+data.licenseIssued+`</td>
                             
                    </tr>` 
                });
            });
           
        }

        
  
        
                              
  
        




}

</script>

</body>

</html>

<!-- <td>
    <div class="d-flex align-items-center">
        <a class="m-b-0 font-16" href="/admin/restorearchive/`+data._id+`" id="restoreID">Restore</a>
    </div>
</td> -->